<div class="map-container" #map>
<mgl-map
  [style]="mapStyle"
  [zoom]="[zoom]"
  [center]="[centerLat, centerLng]"
  (mapDblClick)="onDblClick($event)"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglGeolocate></mgl-control>
  <mgl-marker *ngFor="let post of postService.posts" [lngLat]="[post.location.longitude, post.location.latitude]">
    <app-post [post]="post"/>
  </mgl-marker>
</mgl-map>
<app-add-post *ngIf="showAddDialog" [onclose]="closeAddDialog" (addPostEvent)="addPost($event)"/>
</div>
