<div class="Wrapper">
  <svg height="48px" viewBox="0 0 655 128">
    <use href="/assets/logo.svg#full"/>
  </svg>
  <nav>
    <a
      routerLink="/signin"
      routerLinkActive="hidden"
      ariaCurrentWhenActive="page"
      [appAuthClass]="'hidden'"
      >SignIn</a
    >
    <a
      routerLink="/signup"
      routerLinkActive="hidden"
      ariaCurrentWhenActive="page"
      [appAuthClass]="'hidden'"
      >SignUp</a
    >
    <a
      routerLink="/signin"
      class="hidden"
      routerLinkActive="hidden"
      ariaCurrentWhenActive="page"
      [appAuthClass]="'shown'"
      (click)="logOut()"
      >LogOut</a
    >
  </nav>
</div>
